<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <div>
        <h1>
          {{contact?.name}}
        </h1>
      </div>
      <div>
        <a class="btn btn-primary"
        [routerLink]="[{ id: contact.id}, 'edit']"
        style="margin:10px;">
        Edit</a>

        <a class="btn btn-success"
        (click)="onDelete()"
        >Delete</a>
      </div>
      <div class="panel-body">
        <p><b>Status:</b> {{contact?.status}}</p>
      </div>
    </div>
  </div>
</div>
