<div>


<a style="cursor: pointer;"
[routerLink]="[contact.id]"
class="list-group-item clearfix"
>
  <button
    class="pull-left padd-right"
    (click)="onClick()"
    [ngClass]="action ==' ' ? 'unchecked': 'checked'">
    {{action}}
  </button>
  <h5 class="pull-left">{{contact?.name}}</h5>

  <span class="pull-right">
    <!-- <a class="btn btn-primary"
    [routerLink]="[{ id: contact.id}, 'edit']"
    style="margin:10px;">
    Edit</a> -->

    <a class="btn btn-success"
    (click)="onDelete()"
    >Delete</a>
  </span>
</a>
</div>
