.unchecked {
  height: 15px;
  width: 15px;
  padding: 0 1px;
  margin-top: 11px;
}
.checked {
  height: 15px;
  width: 15px;
  color: #5CB85C;
  font-size: 10px;
  text-align: left;
  padding: 0 1px;
  margin-top: 11px;
}
.padd-right{
  margin-right: 15px;
}
.list-group-item{
  background-color: #222;
  border-color: #303030;
}
.list-group-item:hover {
  background-color: #444;
}
h5{
  color:rgb(192, 192, 192);
}
